/* Font import */
@import url('https://fonts.cdnfonts.com/css/ocean');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Nav bar */

/* Sets the box-sizing property for all elements to border-box */
* {
  box-sizing: border-box;
}

/* Sets the margin property of the body element to 0 */
body {
  margin: 0;
}

/* Styles for the navigation bar */
.nav {
  /* Positions the navigation bar fixed to the top left corner of the viewport */
  position: fixed;
  top: 0;
  left: 0;
   /* Makes the navigation bar span the full width of the viewport */
  width: 100%;
    /* Sets the background color to dark gray */
  background-color: #333;
    /* Sets the font color to white */
  color: white;
    /* Sets the display property to flex */
  display: flex;
    /* Aligns items along the main axis with space between them */
  justify-content: space-between;
    /* Aligns items along the cross axis to stretch them vertically */
  align-items: stretch;
    /* Sets the gap between flex items to 2rem */
  gap: 2rem;
    /* Adds padding to the left and right of the navigation bar */
  padding: 0 1rem;
}

/* Styles for the navigation bar links */
.nav ul {
  /* Removes padding and margin from the unordered list */
  padding: 0;
  margin: 0;
  /* Removes the bullet points from the unordered list */
  list-style: none;
  /* Sets the display property of the unordered list to flex */
  display: flex;
  /* Sets the gap between flex items to 1rem */
  gap: 1rem;
  /* Spacing the li elements evenly within the unordered list */
  flex: 1;
  justify-content: space-evenly;
}

/* Styles for the links within the navigation bar */
.nav a {
  /* Sets the color to inherit, so it takes the color of its parent */
  color: inherit;
  /* Removes the underline from the link */
  text-decoration: none;
  /* Sets the height of the link to 100% of its parent */
  height: 100%;
  /* Sets the display property to flex */
  display: flex;
  /* Aligns items along the cross axis to center them vertically */
  align-items: center;
  /* Adds padding to the top and bottom of the link */
  padding: .25rem;
}

/* Styles for the navigation bar list items on hover */
.nav li:hover {
  /* Sets the background color to light gray */
  background-color: #777;
}

.nav form {
  /* Aligns items along the main axis with space between them */
  justify-content: space-between;
   /* Sets padding */
   padding: .5rem;
   margin: .5rem;
   /* Sets the display property of the unordered list to flex */
   display: flex;
   /* Sets the gap between flex items to 1rem */
   gap: 1rem;
}

/* Setting the background of the body to an animated image of the ocean */
body {
  background-image: url('images/ocean.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Specify font family */
* {
  font-family: 'OCEAN', sans-serif;
}



